.first-section{
  background-color: #CDF0EA;
  text-align: center;
  padding-top:70px;
  font-family: 'Merriweather',serif;
}
h1{
  margin-top: 5px;
  font-family:'Sacramento',serif;
}
h2{
  margin-top: 0;
}

}
h3{
  font-family:'Montserrat',serif;
  font-weight: bolder;
}
p{
  font-family:'Merriweather',serif;
}

body{
  margin:0;
}
.first{
  position:absolute;
  height: auto;
  right:200px;
  max-width: 10%;


}
.second{
  position:absolute;
  max-width: 10%;
  height: auto;
  left:140px;
  top:150px;
  border-radius:43px;

}
.third{
  height:auto;
  width:30%;
}
.profile{

  background-color:#F9F9F9;
  text-align: center;
}
.Profile{
  width:10%;
  height:10%;
}
hr{
  display:inline-block;
  border-style:none;
  border-top-style:dotted;
  border-color: grey;
  border-width:3px;
  width:8%;
}
.skills{
  text-align: center;
  background-color: #E1FFEE;
}
.skillimage{
  width:10%;
  height:10%;
}
.Education{
  text-align:center;
  background-color: #D2D79F;
  margin-top: 0;
}
.Achivements{
  text-align:center;
  background-color: #90B77D;
  margin-top: 0;
  padding-bottom:10px;
}
a{
  font-weight: bolder;
  font-size: 17px;
  display: inline-block;
}
.projects{
  text-align: center;
  background-color:#B1D7B4;
  padding-bottom: 10px;
}
.Languages{
  text-align: center;
  background-color:#F7F6DC;
  padding-bottom: 10px;

}
.contact{
  text-align: center;
  background-color:#FFCCB3;
  padding-bottom: 10px;
}
.hii{
  display: block;
  padding-bottom: 8px;
}
